
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<div class="container">
    <div class="card shadow">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cám ơn bạn đã đặt hàng</h6>
        </div>
        <div class="card-body">
            Đơn hàng của bạn đang trong quá trình xử lý, mã đơn hàng của bạn là <b>@ViewBag.Id</b><br />
            Nhân viên sẽ liên lạc lại bạn trong thời gian sớm nhất.
        </div>
    </div>
</div>
<br />
<br />
<br />